<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatapp</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <h3>all chats!</h3>
    <form method="GET" action="/new">
        <button>add</button>
       

    </form>
        <br>
   <% for(let chat of chats){ %>
        <div class="chat">
            <p>from: <i><%= chat.from%></i></p>
            <div class="msg">
                  <p><%= chat.msg %></p>
                  <form action="/chats/<%= chat._id %>/edit" method="GET">
                         <button id="editbtn">Edit Message</button>
                  </form>
                 
                 <form action="/chats/<%= chat._id %>?_method=DELETE" method="POST">
                         <button id="delbtn">Delete</button>
                  </form>
            </div>
            <p>to: <i><%= chat.to %></i></p>
             <hr/>
             <%= chat.created_at.toString().split(" ")[4] %> <br>
             <%= chat.created_at.toString().split(" ").splice(0,4).join(" ") %> <br>
        </div>
        <br><br>
    <% } %>
</body>
</html>

